{% extends "layout.html" %}

{% block title %}
    Top Up
{% endblock %}

{% block main %}
    <form action="/topup" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount($)" type="number" step="0.01" min="0.01">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Top Up</button>
    </form>
{% endblock %}